/*FUENTES*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

nav{
    font-family: 'Raleway', sans-serif;
}

.nav-link {
    color: white !important;
}

#activo {
    color: rgb(255, 145, 0) !important;
}

.row{
    /*Para que no tenga el margen por defecto de bootstrap*/
    margin:0;
  }

#secciones{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccion{
    height:200px;
    width: 150px;
    overflow: hidden;
    margin-right: 30px;
    margin: 10px;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    transition: 0.3s;
    text-align: center;
  }
  
  .seccion:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  }

#titulo-seccion{
    margin-top: 8px;
    font-family: 'Abel', sans-serif;
    letter-spacing: 5px;
}

#ficha{
  width: 550px;
	overflow: hidden;
  margin-right: 20px;
}

/*FORMULARIO*/

.field {
    margin-bottom: 10px;
  }
  
  .field label {
    display: block;
    font-size: 14px;
    color: #2c98f0;
  }
  
  .field input {
    display: block;
    min-width: 350px;
    line-height: 1.5;
    font-size: 14px;
    color:grey;
  }
  
  textarea {
    color:grey;
    min-width: 350px;
  }
  
  ::placeholder { 
    color: grey; 
  }
  
  input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #f9bf3f;
    color: black;
    font-weight: 500;
    border: none
  }

#elementos-footer {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

#social{
    padding-top: 10px;
    width: 100%;
    justify-content: center;
}

#social-icon{
    margin-right: 20px;
    color:gray
}

#copy{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}